*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-rows: 0.5fr 0.5fr 2fr 2fr 0.5fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main main"
        "main main main"
        "footer footer footer";
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
header{
    grid-area: header;
    background-color: rgb(194, 245, 203);
    padding: 1rem;
}
nav{
    grid-area: nav;
    background-color: rgb(255, 255, 255);
}
.logonavimg{
    height: 3rem;
    
}
main{
    grid-area: main;
    background-color: rgba(158, 143, 243, 0.74);
}

footer{
    grid-area: footer;
    background-color:  rgb(22, 2, 41);
}