*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-rows: 0.5fr 2fr 2fr 0.5fr;
    grid-template-columns: 0.5fr repeat(2, 1fr);
    grid-template-areas:
        "header header header"
        "nav main main"
        "nav main main"
        "footer footer footer";
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
header{
    grid-area: header;
    background-color: violet;
}
nav{
    grid-area: nav;
    background-color: azure;
}
main{
    grid-area: main;
    background-color: azure;
}
footer{
    grid-area: footer;
    background-color:  rgb(22, 2, 41);
}